.header {
display: flex;
justify-content: space-between;
border:3px solid rgb(245, 241, 241);
padding: 15px;
border-radius: 20px;
margin: 50px;
align-items: center;

}

.logo{
    width: 80px;
    border-radius: 100%;

}
.nav-items>ul {

    list-style-type: none;
    display: flex;
}
ul>li{
    padding-right: 50px;
    font-size: larger;
}